

<div>
<h2>Event's details</h2>
<h3><%= @event.place %></h3>
<p><%= @event.day %></p>
<p><%= @event.host.email %></p>
</div>



<% if current_user.id == @event.host.id %>
  <%= link_to "Edit Event", edit_event_path %>
  <%= link_to "Cancel Event", @event, method: :delete  %>
<% else %>
  <% if @event.guests.exists?(current_user.id)%>
    <%= link_to 'Unattend', unattend_event_path(@event.id)%>
  <% else %>
    <%=button_to "Assit!", invitations_path, method: :post %>
  <% end %>
<% end %>

